h1{
	font-size: 40px;
}
.heading1{
	color: #142DCD;
	font-size:30px;
}


#head1{
	color: #43F717;
	font-size: 20px;
}
p{
	color:rgba(23, 32, 42,.9);
	background-color:#F4F6F6 ;

}
/* This is second project*/